@using VM.Environment

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - VM</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/flatly-bootstrap.min.css" />
        <link rel="stylesheet" href="~/VM.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="~/lib/data-tables/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" id="app-logo" asp-area="Public" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-calendar3 small mx-2"></i>
                        <span>Vacay Manager</span>
                    </a>
                    <button class="navbar-toggler shadow-none" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Public" asp-controller="Home" asp-action="Index">
                                    <i class="bi bi-house-fill mx-1"></i>
                                    <span>Home</span>
                                </a>
                            </li>

                            @if (User.IsInRole(Roles.Admin))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-gear-fill mx-1"></i>
                                        <span>Admin</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Department" asp-action="Index">
                                            <i class="bi bi-building-fill mx-1"></i>
                                            <span>Departments</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Employee" asp-action="Index">
                                            <i class="bi bi-people-fill mx-1"></i>
                                            <span>Employees</span>
                                        </a>
                                    </div>
                                </li>
                            }

                            @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Employee))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Public" asp-controller="Vacation" asp-action="Index">
                                        <i class="bi bi-building-fill mx-1"></i>
                                        <span>Departments</span>
                                    </a>
                                </li>
                            }
                        </ul>

                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                <partial name="_Alert" />
                @RenderBody()
            </main>
        </div>

        <footer class="bg-primary footer shadow">
            <div class="container text-center text-white">
                <i class="bi bi-c-circle mx-1"></i>
                <span>2023 - Vacay Manager - </span>

                <a href="https://github.com/robertlek">
                    <i class="bi bi-github text-white mx-1"></i>
                </a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
