@model Department

@{
    ViewData["Title"] = "Employees";
}

<input type="hidden" id="department-id" value="@Model.Id" />

<div class="mt-4 mb-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h4>
                <i class="bi bi-people-fill mx-1"></i>
                <span>@Model.Name Employees</span>
            </h4>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-primary shadow-none">
                <i class="bi bi-fast-forward-circle-fill mx-1"></i>
                <span>Back</span>
            </a>
        </div>
    </div>

    <table class="table table-borderless table-striped table-sm border" id="employee-table">
        <thead class="table-primary text-center">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Employed on</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/vacation/employees.js"></script>
}
