@model VacationInsertViewModel

@{
    ViewData["Title"] = "New Vacation";
}

<div class="mt-4 mb-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>
            <i class="bi bi-people-fill mx-1"></i>
            <span>New Vacation</span>
        </h4>

        <a asp-action="Index" class="btn btn-primary shadow-none">
            <i class="bi bi-fast-forward-circle-fill mx-1"></i>
            <span>Back</span>
        </a>
    </div>

    <form method="post">
        <input type="hidden" asp-for="Department.Id" />
        <input type="hidden" asp-for="Employee.Id" />

        <div class="row gx-5">
            <div class="col-6 mb-3">
                <label asp-for="Employee.FirstName" class="mb-1">Your First Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    <input asp-for="Employee.FirstName" type="text" class="form-control" disabled />
                    <span class="input-group-text text-danger"><i class="bi bi-asterisk small-icon"></i></span>
                </div>
            </div>
            <div class="col-6 mb-3">
                <label asp-for="Employee.LastName" class="mb-1">Your Last Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    <input asp-for="Employee.LastName" type="text" class="form-control" disabled />
                    <span class="input-group-text text-danger"><i class="bi bi-asterisk small-icon"></i></span>
                </div>
            </div>
            <div class="col-6 mb-3">
                <label asp-for="Employee.Email" class="mb-1">Email Address</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope-at-fill"></i></span>
                    <input asp-for="Employee.Email" type="text" class="form-control" disabled />
                    <span class="input-group-text text-danger"><i class="bi bi-asterisk small-icon"></i></span>
                </div>
            </div>
            <div class="col-6 mb-3">
                <label asp-for="Employee.PhoneNumber" class="mb-1">Phone Number</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                    <input asp-for="Employee.PhoneNumber" type="text" class="form-control" disabled />
                    <span class="input-group-text text-danger"><i class="bi bi-asterisk small-icon"></i></span>
                </div>
            </div>
            <div class="col-6 mb-3">
                <label asp-for="Department.Name" class="mb-1">Department</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-building"></i></span>
                    <input asp-for="Department.Name" type="text" class="form-control" disabled />
                    <span class="input-group-text text-danger"><i class="bi bi-asterisk small-icon"></i></span>
                </div>
            </div>
            <div class="col-6 mb-3">
                <label asp-for="Department.Overlaps" class="mb-1">Department Maximum Overlaps</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-arrow-down-up"></i></span>
                    <input asp-for="Department.Overlaps" type="text" class="form-control" disabled />
                    <span class="input-group-text text-danger"><i class="bi bi-asterisk small-icon"></i></span>
                </div>
            </div>
            <div class="col-6 mb-3">
                <label asp-for="Vacation.FromDate" class="mb-1">Vacation from date</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                    <input asp-for="Vacation.FromDate" type="date" class="form-control shadow-none" />
                </div>
                <span asp-validation-for="Vacation.FromDate" class="text-danger"></span>
            </div>
            <div class="col-6 mb-3">
                <label asp-for="Vacation.ToDate" class="mb-1">Vacation to date</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                    <input asp-for="Vacation.ToDate" type="date" class="form-control shadow-none" />
                </div>
                <span asp-validation-for="Vacation.ToDate" class="text-danger"></span>
            </div>

            <div class="col-12 d-flex justify-content-center align-items-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg w-50 shadow-none">
                    <i class="bi bi-plus-circle-fill mx-1"></i>
                    <span>Submit Vacation</span>
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
