@{
    ViewData["Title"] = "Statistics";
}

<div class="mt-4 mb-4">
    <h4>
        <i class="bi bi-bar-chart-fill mx-1"></i>
        <span>Company statistics</span>
    </h4>

    <div>
        <canvas id="vacations-chart"></canvas>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin/statistics/index.js"></script>
}
