@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vacay Manager</h1>
    <p>A web application designed to manage the planification of the vacations of employees.</p>
</div>
