#app-logo {
    padding: 0 10px 5px 5px;
    color: white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px;
    font-family: Pristina;
}

body {
    margin-bottom: 60px;
}

#home-page-image {
    height: 400px;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

.input-group:focus-within .input-group-text, .form-control:focus, .form-select:focus {
    border: 1px solid #123758;
    transition: 1s ease-in-out;
}

.small-icon {
    font-size: 50%;
}

#toast-container > div {
    opacity: 1;
    box-shadow: 0 0 12px #000000;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    #home-page-image {
        height: 200px;
    }
}
