@model Department

@{
    ViewData["Title"] = "Update Department";
}

<div class="mt-4 mb-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h4>
                <i class="bi bi-building-fill-up mx-1"></i>
                <span>Update Department</span>
            </h4>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-primary shadow-none">
                <i class="bi bi-fast-forward-circle-fill mx-1"></i>
                <span>Back</span>
            </a>
        </div>
    </div>

    <form method="post">
        <div class="mb-3">
            <label asp-for="Name" class="mb-1">Department Name</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-building"></i></span>
                <input asp-for="Name" type="text" class="form-control shadow-none" />
                <span class="input-group-text text-danger"><i class="bi bi-asterisk small-icon"></i></span>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Overlaps" class="mb-1">Maximum Overlaps</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-arrow-down-up"></i></span>
                <input asp-for="Overlaps" type="number" class="form-control shadow-none" />
                <span class="input-group-text text-danger"><i class="bi bi-asterisk small-icon"></i></span>
            </div>
            <span asp-validation-for="Overlaps" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-lg w-50 shadow-none mt-4">
                <i class="bi bi-pencil-square mx-1"></i>
                <span>Update Department</span>
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
